body{
    background-color: rgb(6, 6, 62);
    color:white;
}
.heading2{
    text-align: center;
    text-transform: capitalize;
}
.btn{
    background-color: red;
}
.outer{
    font-size: 25px;
}
.inner{
    font-size: 10px;
}

.practice3{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}

.navbar{
    border: 5px solid white;
    background-color: black;
    text-transform: capitalize;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    height: 50px;
}
.title{
    text-transform: none;
    color: orange;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: white;
}
.search-btn{
    color: white;
    background-color: #f08804;
}